@using EntityLayer.Concrete
@model List<Content>
@{
    ViewBag.Title = "GettAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("GettAllContent","Content",FormMethod.Post))
{
    <p>
        Aranacak kelimyei giriniz: @Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
}
@foreach (var item in Model)
{
    <p>@item.ContentValue</p>
}
