@using EntityLayer.Concrete
@model List<Heading>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>BAŞLIKLAR</h2>
<table class="table table-hover">
    <tr>
        <th>Başlık Id</th>
        <th>Başlık</th>
        <th>Categori</th>
        <th>Yazar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.HeadingID</td>
            <td>@item.HeadingName</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.Writer.WriterName@item.Writer.WriterSurName</td>
        </tr>
    }
</table>
<br />
<a href="/Heading/AddHeading"class="btn btn-info">Yeni Başlık Ekle</a>