<div class="card-footer">
    <div class="float-right">
        <button type="submit" formmethod="post" name="menuName" value="draft" class="btn btn-outline-secondary">
            <i class="fas fa-pencil-alt">Taslaklara Kaydet</i>
        </button>
        <button type="submit" name="menuName" value="send" class="btn btn-outline-primary">
            <i class="fas fa-envelope">Gönder</i>
        </button>
    </div>
    <button type="submit" name="menuName" value="cancel" class="btn btn-outline-danger">
        <i class="fas fa-times">İptal</i>
    </button>
    <button type="button" class="btn btn-outline-warning">
        <i class="fas fa-print">Yazdır</i></button>
</div>