
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC KAMP TABLO - KATEGORİ</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Eğitm açıklama</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Teknoloji</td>
        <td>açıklama</td>
        <td>True</td>
    </tr>
</table>
